name: Build Release Template

on:
  workflow_call:
    inputs:
      working-directory:
        description: The working directory for the build process
        required: false
        type: string
        default: ./
      app-name:
        description: The application name for the build
        required: true
        type: string
      runner:
        description: The runner environment for the build
        required: false
        type: string
        default: ubuntu-latest

jobs:
  build:
    runs-on: ${{ inputs.runner }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build/Export Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.working-directory }}
          file: ${{ inputs.working-directory }}/Dockerfile
          tags: ${{ inputs.app-name }}:${{ github.sha }}
          outputs: type=docker,dest=/tmp/${{ inputs.app-name }}.tar

      - name: Upload Docker image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.app-name }}-image
          path: /tmp/${{ inputs.app-name }}.tar
          retention-days: 1

  push:
    name: Push to Registry
    runs-on: ubuntu-latest
    needs: [ build ]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.app-name }}-image
          path: /tmp

      - name: Load image
        run: docker load --input /tmp/${{ inputs.app-name }}.tar

      - name: Debug secrets
        run: |
          echo "Username length: ${#DOCKER_USERNAME}"
          echo "Token length: ${#DOCKERHUB_TOKEN}"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag and push
        run: |
          docker tag ${{ inputs.app-name }}:${{ github.sha }} ${{ secrets.DOCKERHUB_USER }}/${{ inputs.app-name }}:latest
          docker tag ${{ inputs.app-name }}:${{ github.sha }} ${{ secrets.DOCKERHUB_USER }}/${{ inputs.app-name }}:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USER }}/${{ inputs.app-name }}:latest
          docker push ${{ secrets.DOCKERHUB_USER }}/${{ inputs.app-name }}:${{ github.sha }}
