name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build Frontend
      run: docker build frontend/. --file Dockerfile --tag seekretsanta-frontend:$(date +%s)
    - name: Build Backend
      run: docker build backend/, --file Dockerfile --tag seekretsanta-backend:$(date +%s)
    
    
